@model List<MyMVCApp.Models.Models.Student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <div>  
        <table>
            <thead>
                <tr>
                    <td>SI</td>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Age</td>
                </tr>
            </thead>
            <tbody>   
                @{ int si = 1;}
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@(si++)</td>
                        <td>@student.Name</td>
                        <td>@student.Address</td>
                        <td>@student.Age</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
