@model List<MyMVCApp.Models.Models.Student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <div>
        <form>
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="Name" /></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><input type="text" name="Address" /></td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td><input type="text" name="Age" /></td>
                </tr>
                <tr>
                    <td>Action</td>
                    <td><input type="submit" name="Search" value="Search" /></td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td>SI</td>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Age</td>
                </tr>
            </thead>
            <tbody>
                @{ int si = 1;}
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@(si++)</td>
                        <td>@student.Name</td>
                        <td>@student.Address</td>
                        <td>@student.Age</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
